In [1]:
import pandas as pd
import gc

In [41]:
df = pd.read_csv("../../data/fines.csv")
df.head()

      CarNumber  Refund   Fines    Make  Model  Year
0  Y163O8161RUS       2  3200.0    Ford  Focus  1989
1   E432XX77RUS       1  6500.0  Toyota  Camry  1995
2   7184TT36RUS       1  2100.0    Ford  Focus  1984
3  X582HE161RUS       2  2000.0    Ford  Focus  2015
4  92918M178RUS       1  5700.0    Ford  Focus  2014

iterations: in all the following subtasks, you need to calculate fines/refund*year for
each row and create a new column with the calculated data and measure the time
using the magic command %%timeit in the cell

- loop: write a function that iterates through the dataframe using for i in range(0, len(df)), iloc and append() to a list, assign the result of the function to a new column in the dataframe
- do it using iterrows()

- do it using apply() and lambda function
- do it using Series objects from the dataframe
- do it as in the previous subtask but with the method .values

In [42]:
%%timeit
res = []
for i in range(0, len(df)):
    res.append(df.iloc[i]["Fines"]/(df.iloc[i]["Refund"] * df.iloc[i]["Year"]))
df["res1"] = res

138 ms ± 29 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [43]:
df.head()

      CarNumber  Refund   Fines    Make  Model  Year      res1
0  Y163O8161RUS       2  3200.0    Ford  Focus  1989  0.804424
1   E432XX77RUS       1  6500.0  Toyota  Camry  1995  3.258145
2   7184TT36RUS       1  2100.0    Ford  Focus  1984  1.058468
3  X582HE161RUS       2  2000.0    Ford  Focus  2015  0.496278
4  92918M178RUS       1  5700.0    Ford  Focus  2014  2.830189

In [44]:
%%timeit
res = []
for i, row in df.iterrows():
    res.append(row["Fines"]/(row["Refund"] * row["Year"]))
df["res2"] = res

34.9 ms ± 1.91 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [45]:
df.head()

      CarNumber  Refund   Fines    Make  Model  Year      res1      res2
0  Y163O8161RUS       2  3200.0    Ford  Focus  1989  0.804424  0.804424
1   E432XX77RUS       1  6500.0  Toyota  Camry  1995  3.258145  3.258145
2   7184TT36RUS       1  2100.0    Ford  Focus  1984  1.058468  1.058468
3  X582HE161RUS       2  2000.0    Ford  Focus  2015  0.496278  0.496278
4  92918M178RUS       1  5700.0    Ford  Focus  2014  2.830189  2.830189

In [46]:
%%timeit
df["res3"] = df.apply(lambda x: x["Fines"]/(x["Refund"]*x["Year"]), axis=1)

7.33 ms ± 183 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [47]:
df.head()

,CarNumber,Refund,Fines,Make,Model,Year,res1,res2,res3
0,Y163O8161RUS,2,3200.0,Ford,Focus,1989,0.804424,0.804424,0.804424
1,E432XX77RUS,1,6500.0,Toyota,Camry,1995,3.258145,3.258145,3.258145
2,7184TT36RUS,1,2100.0,Ford,Focus,1984,1.058468,1.058468,1.058468
3,X582HE161RUS,2,2000.0,Ford,Focus,2015,0.496278,0.496278,0.496278
4,92918M178RUS,1,5700.0,Ford,Focus,2014,2.830189,2.830189,2.830189

In [48]:
%%timeit
df["res4"] = df["Fines"]/(df["Refund"]*df["Year"])

177 μs ± 5.57 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [49]:
df.head()

,CarNumber,Refund,Fines,Make,Model,Year,res1,res2,res3,res4
0,Y163O8161RUS,2,3200.0,Ford,Focus,1989,0.804424,0.804424,0.804424,0.804424
1,E432XX77RUS,1,6500.0,Toyota,Camry,1995,3.258145,3.258145,3.258145,3.258145
2,7184TT36RUS,1,2100.0,Ford,Focus,1984,1.058468,1.058468,1.058468,1.058468
3,X582HE161RUS,2,2000.0,Ford,Focus,2015,0.496278,0.496278,0.496278,0.496278
4,92918M178RUS,1,5700.0,Ford,Focus,2014,2.830189,2.830189,2.830189,2.830189

In [50]:
%%timeit
df["res5"] = df["Fines"].values/(df["Refund"].values*df["Year"].values)

82 μs ± 1.24 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [51]:
df.head()

,CarNumber,Refund,Fines,Make,Model,Year,res1,res2,res3,res4,res5
0,Y163O8161RUS,2,3200.0,Ford,Focus,1989,0.804424,0.804424,0.804424,0.804424,0.804424
1,E432XX77RUS,1,6500.0,Toyota,Camry,1995,3.258145,3.258145,3.258145,3.258145,3.258145
2,7184TT36RUS,1,2100.0,Ford,Focus,1984,1.058468,1.058468,1.058468,1.058468,1.058468
3,X582HE161RUS,2,2000.0,Ford,Focus,2015,0.496278,0.496278,0.496278,0.496278,0.496278
4,92918M178RUS,1,5700.0,Ford,Focus,2014,2.830189,2.830189,2.830189,2.830189,2.830189

indexing: measure the time using the magic command %%timeit in the cell

- get a row for a specific CarNumber, for example, ’O136HO197RUS’

- set the index in your dataframe with CarNumber

- again, get a row for the same CarNumber

In [52]:
%%timeit
df[df["CarNumber"] == "O136HO197RUS"]

259 μs ± 12 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [53]:
df.set_index("CarNumber", inplace=True)

In [54]:
%%timeit
df.loc["O136HO197RUS"]

134 μs ± 1.56 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

downcasting:

- run df.info(memory_usage=’deep’), pay attention to the Dtype and the memory usage
- make a copy() of your initial dataframe into another dataframe optimized

- downcast from float64 to float32 for all the columns
- downcast from int64 to the smallest numerical dtype possible
- run info(memory_usage='deep') for your new dataframe, pay attention to the Dtype and the memory usage

In [55]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 925 entries, Y163O8161RUS to T119CT96RUS
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  925 non-null    int64
 1   Fines   925 non-null    float64
 2   Make    925 non-null    object
 3   Model   914 non-null    object
 4   Year    925 non-null    int64
 5   res1    925 non-null    float64
 6   res2    925 non-null    float64
 7   res3    925 non-null    float64
 8   res4    925 non-null    float64
 9   res5    925 non-null    float64
dtypes: float64(6), int64(2), object(2)
memory usage: 263.8 KB

In [56]:
df_copy = df.copy()

In [57]:
df_copy = df_copy.astype({"Fines": "float32", "res1" : "float32", "res2" : "float32", "res3" : "float32", "res4" : "float32", "res5" : "float32"})

In [58]:
df_copy = df_copy.astype({"Refund" : "uint8", "Year" : "uint8"})

In [59]:
df_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 925 entries, Y163O8161RUS to T119CT96RUS
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  925 non-null    uint8
 1   Fines   925 non-null    float32
 2   Make    925 non-null    object
 3   Model   914 non-null    object
 4   Year    925 non-null    uint8
 5   res1    925 non-null    float32
 6   res2    925 non-null    float32
 7   res3    925 non-null    float32
 8   res4    925 non-null    float32
 9   res5    925 non-null    float32
dtypes: float32(6), object(2), uint8(2)
memory usage: 229.5 KB

In [60]:
df_copy = df_copy.astype({"Make" : "category", "Model" : "category"})

In [62]:
df_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 925 entries, Y163O8161RUS to T119CT96RUS
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  925 non-null    uint8
 1   Fines   925 non-null    float32
 2   Make    925 non-null    category
 3   Model   914 non-null    category
 4   Year    925 non-null    uint8
 5   res1    925 non-null    float32
 6   res2    925 non-null    float32
 7   res3    925 non-null    float32
 8   res4    925 non-null    float32
 9   res5    925 non-null    float32
dtypes: category(2), float32(6), uint8(2)
memory usage: 121.3 KB

memory clean

- using %reset_selective and the library gc clean the memory of your initial dataframe only

In [63]:
%reset_selective -f df
gc.collect()

1129