In [1]:
import pandas as pd

create a dataframe views with two columns: datetime and user by reading feed-views.log

- convert the datetime to the datetime64[ns] Dtype

- extract the year, month, day, hour, minute, and second from the values of that
column to the new columns

In [2]:
views = pd.read_csv("../../data/feed-views.log", names=["datetime", "user"], sep="	")
views.head()

                     datetime   user
0  2020-04-17 12:01:08.463179  artem
1  2020-04-17 12:01:23.743946  artem
2  2020-04-17 12:27:30.646665  artem
3  2020-04-17 12:35:44.884757  artem
4  2020-04-17 12:35:52.735016  artem

In [3]:
views.dtypes

datetime    object
user        object
dtype: object

In [4]:
views["datetime"] = pd.to_datetime(views["datetime"])
views.dtypes

datetime    datetime64[ns]
user                object
dtype: object

In [5]:
views["year"] = views["datetime"].dt.year
views["month"] = views["datetime"].dt.month
views["day"] = views["datetime"].dt.day
views["hour"] = views["datetime"].dt.hour
views["minute"] = views["datetime"].dt.minute
views["second"] = views["datetime"].dt.second

In [6]:
views.head()

                    datetime   user  year  month  day  hour  minute  second
0 2020-04-17 12:01:08.463179  artem  2020      4   17    12       1       8
1 2020-04-17 12:01:23.743946  artem  2020      4   17    12       1      23
2 2020-04-17 12:27:30.646665  artem  2020      4   17    12      27      30
3 2020-04-17 12:35:44.884757  artem  2020      4   17    12      35      44
4 2020-04-17 12:35:52.735016  artem  2020      4   17    12      35      52

create the new column daytime

- you need to assign the particular time of day value if an hour is within a
particular interval, for example, afternoon if the hour is larger than 11 and
less or equal to 17

- 0 – 3.59 night, 4 – 6.59 early morning, 7 – 10.59 morning, 11 – 16.59 afternoon, 17 – 19.59 early evening, 20 – 23.59 evening

- use the method cut to solve this subtask
- assign the column user as the index

In [7]:
views["daytime"] = pd.cut(views["hour"], bins=[0, 4, 7, 11, 17, 20, 24], right=False, \
       labels=["night", "early_morning", "morning", "afternoon", "early_evening", "evening"])

In [8]:
views.tail()

,datetime,user,year,month,day,hour,minute,second,daytime
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20,early_evening
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6,evening
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49,evening
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22,evening
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14,morning

In [9]:
views = views.set_index("user")
views.head()

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon

calculate the number of elements in your dataframe

- use the method count()

- calculate the number of elements in each time of day category using the method
value_counts()

In [10]:
views.count()

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

In [11]:
views["daytime"].value_counts()

daytime
evening          509
afternoon        252
early_evening    145
night            129
morning           36
early_morning      5
Name: count, dtype: int64

sort values in your dataframe by hour, minute, and second in ascending order
(simultaneously and not one by one)

In [12]:
views.sort_values(by=["hour", "minute", "second"], ascending=True, inplace=True)
views.head()

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,night

calculate the minimum and maximum for the hours and the mode for the daytime
categories

- calculate the maximum of hour for the rows where the time of day is night
- calculate the minimum of hour for the rows where the time of day is morning
- In addition to this, find out who visited the page at those hours (make one
example from that)
- calculate the mode for the hour and daytime

In [13]:
max_night = views[views["daytime"] == "night"]["hour"].max()
max_night

np.int32(3)

In [14]:
# попробуем другим способом
min_morning = views.query("daytime == 'morning'")["hour"].min()
min_morning

np.int32(8)

In [15]:
views.query(f"hour == {max_night} | hour == {min_morning}")

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
konstantin,2020-04-19 03:23:35.471598,2020,4,19,3,23,35,night
konstantin,2020-04-19 03:23:55.473926,2020,4,19,3,23,55,night
konstantin,2020-04-19 03:33:07.757714,2020,4,19,3,33,7,night
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,morning

In [16]:
views["hour"].mode()

0    22
Name: hour, dtype: int32

In [17]:
views["daytime"].mode()

0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early_morning' < 'morning' < 'afternoon' < 'early_evening' < 'evening']

show the 3 earliest hours in the morning and the corresponding usernames and the
3 latest hours and the usernames using nsmallest() and nlargest()

In [18]:
views[views["daytime"] == "morning"]["hour"].nsmallest(3)

user
alexander    8
alexander    8
alexander    9
Name: hour, dtype: int32

In [19]:
views[views["daytime"] == "morning"]["hour"].nlargest(3)

user
konstantin    10
maxim         10
maxim         10
Name: hour, dtype: int32

use the method describe() to get the basic statistics for the columns

- to find out what the most popular interval for visiting the page is, calculate
the interquartile range for the hour by extracting values from the result of the
describe() method and store it in the variable iqr

In [20]:
views.describe()

,datetime,year,month,day,hour,minute,second
count,1076,1076.0,1076.000000,1076.000000,1076.000000,1076.000000,1076.000000
mean,2020-05-10 09:00:41.211420672,2020.0,4.870818,13.552974,16.249071,29.629182,29.500929
min,2020-04-17 12:01:08.463179,2020.0,4.000000,1.000000,0.000000,0.000000,0.000000
25%,2020-05-10 01:13:49.857472,2020.0,5.000000,11.000000,13.000000,14.000000,14.000000
50%,2020-05-11 22:48:35.302552832,2020.0,5.000000,13.000000,19.000000,29.000000,30.000000
75%,2020-05-14 14:44:34.749530624,2020.0,5.000000,15.000000,22.000000,46.000000,45.000000
max,2020-05-22 10:36:14.662600,2020.0,5.000000,30.000000,23.000000,59.000000,59.000000
std,NaN,0.0,0.335557,4.906567,6.955490,17.689388,17.405506

In [21]:
iqr = views.describe()["hour"]["75%"] - views.describe()["hour"]["25%"]
iqr

np.float64(9.0)